<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link href="css/index.css" rel="stylesheet">
</head>
<body style="background-image: url(/img/back.jpg)">
<div class="content">
    <div class="header">
        <div class="header__image">
            <!--            <img src="img/header.png">-->
        </div>
        <div class="header__menu">
            <div class="header__menu__content">
                <a href="/">Main</a>
            </div>
            <div class="header__menu__content">
                <a href="/payment">Payment</a>
            </div>
            <div class="header__menu__content">
                <a href="/profile">Profile</a>
            </div>
            <div class="header__menu__content">
                <a href="/auth">Registration</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="registration__block">
            <div class="registration__form">
                <form th:action="@{/auth}" method="post" th:object="${user}">
                    <label for="username">Username:</label><br>
                    <input type="text" th:field="*{username}" id="username" name="username"><br><br>

                    <label for="password">Password:</label><br>
                    <input type="password" th:field="*{password}" id="password" name="password"><br><br>

                    <label for="email">Email:</label><br>
                    <input type="text" th:field="*{email}" id="email" name="email"><br><br>

                    <select th:field="*{role}">
                        <option th:value="'USER'" th:text="USER"></option>
                        <option th:value="'ADMIN'" th:text="ADMIN"></option>
                    </select>

                    <input type="submit" value="Registration">
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>(c)It's footer.</p>
    </div>
</div>
</body>
</html>